@font-face {
	font-family: 'thrumaze1';
	src:url('../fonts/thrumaze1.eot?-chm0e7');
	src:url('../fonts/thrumaze1.eot?#iefix-chm0e7') format('embedded-opentype'),
		url('../fonts/thrumaze1.ttf?-chm0e7') format('truetype'),
		url('../fonts/thrumaze1.woff?-chm0e7') format('woff'),
		url('../fonts/thrumaze1.svg?-chm0e7#thrumaze1') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'thrumaze1';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
	content: "\e619";
}
.icon-twitter:before {
	content: "\e61a";
}
.icon-facebook:before {
	content: "\e61b";
}
.icon-restorani:before {
	content: "\e61c";
}
.icon-sportskiDogadjaji:before {
	content: "\e602";
}
.icon-turistickeTure:before {
	content: "\e603";
}
.icon-konferencije:before {
	content: "\e604";
}
.icon-izlozbe:before {
	content: "\e605";
}
.icon-muzeji:before {
	content: "\e606";
}
.icon-shop:before {
	content: "\e607";
}
.icon-caffe:before {
	content: "\e608";
}
.icon-ciljeniOglasi:before {
	content: "\e609";
}
.icon-nagrade:before {
	content: "\e60a";
}
.icon-InStoreObavijesti:before {
	content: "\e60b";
}
.icon-informacije:before {
	content: "\e60c";
}
.icon-ponuda:before {
	content: "\e60d";
}
.icon-kuponi:before {
	content: "\e60e";
}
.icon-multimedija:before {
	content: "\e60f";
}
.icon-pozdravnePoruke:before {
	content: "\e610";
}
.icon-brendiraniBeaconIApp:before {
	content: "\e611";
}
.icon-marketingAnaliza:before {
	content: "\e612";
}
.icon-oglasniPredlosci:before {
	content: "\e613";
}
.icon-poboljsanjeIskustvakupovine:before {
	content: "\e614";
}
.icon-isplativost:before {
	content: "\e615";
}
.icon-povecanjePrihoda:before {
	content: "\e616";
}
.icon-start:before {
	content: "\e617";
}
.icon-interaktivno2:before {
	content: "\e618";
}
.icon-interaktivno:before {
	content: "\e600";
}
.icon-pero:before {
	content: "\e601";
}
