$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import"fonts";
@import url(http://fonts.googleapis.com/css?family=Signika&subset=latin,latin-ext);

$blue: #00aeef;

a{
  &:hover{
    text-decoration:none;
  }
}

body{
  font-family: 'Signika', sans-serif;
  overflow-x:hidden;
}
.head{
  height: 90px;
  width: 100%;
  background:black;
  color:white;
  padding-top:15px;
  .login{
    float:left;
    display:block;
    width: 166px;
    height: 39px;
    background:url("../images/login.png");
    &:hover{
      background-image:url("../images/loginHov.png");
    }
  }
  .langs{
    float:right;
    margin:0;
    padding:0;
    li{
      position:relative;
      float:left;
      list-style:none;
      padding-right:20px;
      margin-left:10px;
      opacity:.3;
      &.active{
        opacity:1;
      }
      &:after{
        position:absolute;
        right:0;
        top:3px;
        display:block;
        content:"";
        width: 17px;
        height: 16px;
      }
      &.cro{
        &:after{
          background:url("../images/cro.png");
        }
      }
      &.eng{
        &:after{
          background:url("../images/eng.png");
        }
      }
    }
  }
}
.homeHead{
  position:absolute;
  top:-20px;
  width: 100%;
  height: 20px;
  background:rgba(0, 0, 0, 0.5);
  z-index:90;
  @media screen and (max-width: 1000px) {
    display:none;
  }
  &.active{
    transition: top .3s;
    position:fixed;
    top:50px;
  }
  .nav{
    float:left;
    width: 100%;
    li{
      float:left;
      width: 12.5%;
      margin:0;
      a{
        line-height: 20px;
        font-size:10px;
        padding:0;
        color:white;
        text-transform:uppercase;
        text-align:center;
        background:none;
        &:hover{
          background:none;
        }
      }
    }
  }
}
.fixHead{
  position:absolute;
  top:90px;
  width: 100%;
  height: 50px;
  background:black;
  padding-top:20px;
  z-index:100;
  @media screen and (max-width: 450px) {
    height: 50px;
  }
  &.active{
    position:fixed;
    top:0;
  }
  .logo{
    float:left;
    display:block;
    width: 166px;
    height: 30px;
    background:url("../images/logo.png") no-repeat;
    background-size:100% auto;
    margin-top:-7px;
    @media screen and (max-width: 450px) {
      width:100px;
    }
  }
  .nav{
    float:right;
    margin-top:0px;
    @media screen and (max-width: 450px) {
      margin-top:0;
    }
    li{
      float:left;
      border-right:1px solid $blue;
      height: 17px;
      padding:0 10px;
      &:first-child{
        padding: 0 10px 0 0;
      }
      &:last-child{
        border-right:none;
        padding-right:0;
      }
      a{
        color:$blue;
        padding:0;
        font-size:13px;
        line-height: 17px;
        transition:color .3s;
        &:hover{
          background:none;
          color:white;
        }
      }
    }
  }
}

.video{
  padding:150px 0 50px;
  iframe{
    display:block;
    margin:0 auto;
    border:3px solid $blue;
  }
}
.its{
  background:$blue;
  &:after{
    position:absolute;
    left:50%;
    content:"";
    display:block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 30px 0 30px;
    margin-left:-25px;
    border-color: $blue transparent transparent transparent;
  }
  .items{
    float:left;
    width: 100%;
    padding-top:50px;
    @media screen and (max-width: 770px) {
      width:100%;
    }
  }
  .item{
    float:left;
    position:relative;
    margin-bottom:20px;
    color:white;
    @media screen and (max-width: 500px) {
      text-align:center;
    }
    .naruci{
      position:absolute;
      left:30px;

      top:50px;
      width: 192px;
      height: 173px;
      background:url("../images/naruci.png");
    }
    i{
      float:left;
      width: 100%;
      text-align:center;
      font-size:90px;
      color:white;
    }
    p{
      float:left;
      text-align:center;
      margin:30px auto 50px;
      width: 100%;
      color:white;
      font-size:18px;
    }
  }
}
.links{
  position:relative;
  margin-top:50px;
  img{
    width: 100%;
    height: auto;
    margin:0;
  }
}
.block{
  position:relative;
  padding:80px 0 150px;
  border-top:1px solid $blue;
  &.noTop{
    border-top:none;
    &:before{
      display:none;
    }
  }
  &:before{
    content:"";
    position:absolute;
    top:-1px;
    left:50%;
    width: 56px;
    height: 18px;
    margin-left:-28px;
    background:url("../images/arrowDown.png") white;
  }
  &.ico{
    padding-bottom:30px;
  }
  &.last{
    margin-bottom: 50px;
    .col-sm-3{
      height: 200px;
    }
  }
  img{
    width: 400px;
    @media screen and (max-width: 1030px) {
      width: 100%;
    }
  }
  .above{
    position:absolute;
    width: 100%;
    text-align:center;
    color:$blue;
    font-size:20px;
    top:20px;
  }
  .col-sm-6{
    &.back{
      padding-left:0;
      img{
        width: 100%;
      }
    }
    padding-left:100px;
    @media screen and (max-width: 1030px) {
      padding-left:0;
      img{
        display:block;
        margin:0 auto;
      }
    }
  }
  .txt{
    padding-top:50px;
    &.mid{
      padding-top:80px;
    }
    h2{
      font-size:16px;
      color:$blue;
      @media screen and (max-width: 1030px) {
        text-align:center;
      }
    }
    p{
      font-size:14px;
      color:black;
      opacity:.8;
      @media screen and (max-width: 800px) {
        margin-top:50px!important;
      }
    }
    .big{
      margin-top:110px;
    }
  }
  .icons{
    width: 780px;
    margin:0 auto;
    @media screen and (max-width: 1020px) {
      width:100%;
    }
    &.icons2{
      width: 960px;
      @media screen and (max-width: 960px) {
        width:100%;
      }
    }
    .icon{
      height:290px;
      cursor:pointer;
      @media screen and (min-width: 700px) {

        &:hover{
          i{
            transform:scale(.5);
            margin-top:-25px;
          }
          p{
            opacity:.8;
          }
        }
      }
    }
    h3{
      font-size:18px;
      color:$blue;
      text-align:center;

    }
    i{
      display:block;
      margin:0 auto;
      font-size:110px;
      color:$blue;
      text-align:center;
      width: 100%;
      transition:all .3s;
    }
    p{
      font-size:14px;
      color:black;
      text-align:center;
      margin-top:-20px;
      opacity:0;
      transition:opacity .3s;
    }
  }
}
.foot{
  background:black;
  color:white;
  padding-bottom:40px;
  h3{
    font-size:14px;
    padding:0 0 10px 0;
    width: 120px;
    text-transform:uppercase;
    color:$blue;
    border-bottom:1px solid $blue;
    margin:20px auto;
    @media screen and (max-width: 770px) {
      margin:20px 0;
    }
  }
  .footNav{
    width: 120px;
    margin:0 auto;
    @media screen and (max-width: 770px) {
      margin:20px 0;
    }
  }
  ul{
    list-style:none;
    margin:0;
    padding:0;
    a{
      color:white;
      text-transform:uppercase;
      font-size:14px;
      transition:color .3s;
      &:hover{
        color:$blue;
      }
    }
  }
  .logo{
    margin:30px auto 20px;
    width: 100px;
    height: 30px;
    background:url("../images/logo.png") no-repeat;
    background-size:100% auto;
    @media screen and (max-width: 770px) {
      margin:20px 0;
    }
  }
  .loginfoot{
    display:block;
    background:url("../images/loginfooter.png") no-repeat;
    width: 125px;
    height: 29px;
    margin:20px auto;
    @media screen and (max-width: 770px) {
      margin:20px 0;
    }
  }
  .social{
    margin:0 auto;
    width: 156px;
    @media screen and (max-width: 770px) {
      margin:20px 0;
    }
    li{
      float:left;
      margin-right:10px;
      &:hover{
        i{
          color:white;
        }
      }
      &:last-child{
        margin-right:0;
      }
      i{
        font-size:45px;
        color:$blue;
        transition:color .3s;
      }
    }
  }
  .txt{
    padding-top:20px;
    width: 120px;
    margin:0 auto;
    border-top:1px solid $blue;
    @media screen and (max-width: 770px) {
      margin:20px 0;
    }
    a{
      display:block;
      width: 100%;
      color:white;
      text-transform:uppercase;
      text-align:center;
      font-size:9px;
    }
  }
}
.fullWidth{
  width: 100%;
  img{
    width: 100%;
  }
}
.contact{
  margin:95px 0 25px;
  background:#1b2129;
  form{
    margin-bottom:100px;
    @media screen and (max-width: 770px) {
      margin-bottom:40px;
    }
    #email{
      display:none;
    }
    input{
      width: 340px;
      height: 30px;
      margin-bottom:20px;
      border:none;
      border-radius:5px;
      color:$blue;
      padding:0 10px;
      @media screen and (max-width: 340px) {
        width: 100%;
      }
      &:focus{
        outline:none;
      }
    }
    input[type=submit]{
      width: 120px;
      height: 50px;
      float:right;
      color:white;
      background:$blue;
      transition:all .3s;
      &:hover{
        background:white;
        color:$blue;
      }
    }
    textarea{
      width: 100%;
      border-radius:5px;
      padding:10px;
      resize:none;
      &:focus{
        outline:none;
      }
    }
    p{
      font-size:10px;
    }
  }
  h2{
    color:white;
    text-align:center;
    margin:50px 0;
    font-size:24px;
    text-transform:uppercase;
  }
  p{
    color:white;
    font-size:16px;
  }
  .phone{
    margin-top:80px;
    text-align:center;
    &:before{
      position:absolute;
      left:30px;
      display:block;
      content:"";
      width: 11px;
      height: 20px;
      background:url("../images/mobile.png");
    }
  }
  .email{
    position:relative;
    margin-top:40px;
    text-align:center;
    &:before{
      position:absolute;
      top:5px;
      left:13px;
      display:block;
      content:"";
      width: 18px;
      height: 12px;
      background:url("../images/email.png");
    }
  }
  .txt{
    color:$blue;
    font-size:14px;
  }
  .social{
    margin-top:40px;
    @media screen and (max-width: 770px) {
      margin:40px 0;
    }
    h3{
      float:left;
      color:$blue;
      font-size:18px;
    }
    ul{
      float:left;
      list-style:none;
      margin:0;
      margin-top:6px;
      li{
        float:left;
        a{
          color:white;
          font-size:35px;
          margin-right:10px;
          transition:color .3s;
          &:hover{
            text-decoration:none;
            color:$blue;
          }
        }
      }
    }
  }
}
.about{
  &.first{
    margin-top:70px;
    height: 250px!important;
    @media screen and (max-width: 780px) {
      height:350px!important;
    }
  }
  &.blue{
    background:$blue;
    height: 200px;
    &.second{
      height: 100px;
    }
    h2{
      margin-top:50px;
      color:white;
      font-size:12px;
      line-height: 1.3;
    }
    .bluetext{
      color:white;
      padding:20px 0 0 200px;
      @media screen and (max-width: 780px) {
        padding:70px 0 0 0;
        text-align:center;
      }
      p{
        font-size:15px;
      }
      .big{
        font-size:27px;
        margin-bottom:0;
      }
    }
  }
  &.img{
    position:relative;
    height: 325px;
    background:url("../images/map.jpg") no-repeat;
    background-size:cover;
    margin:0;
    @media screen and (max-width: 600px) {
      height: 150px;
    }
    .container{
      position:relative;
    }
    .abImg{
      position:absolute;
      top: -160px;
      left: 0;
      width: 700px;
      left:0;
      height: 1067px;
      background:url("../images/about.png") no-repeat;
      background-size:100% auto;
      @media screen and (max-width: 600px) {
        width:350px;
        top:-87px;

      }
    }
  }
  img{
    width: 100%;
  }
  .phones{

    width: 1052px;
    height: 718px;
    margin: 50px auto;
    background:url("../images/vizijamisija.png") no-repeat;
    background-size:100% auto;
    @media screen and (max-width: 1052px) {
      width:100%;
    }
    @media screen and (max-width: 600px) {
      height:400px;
    }
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 992px) {

}
